* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


body {
    padding-bottom: 100px;
}

header .container {
    margin: 0px auto;
    width: 95%;
}

/* --------Header 1--------- */

header .container .header_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 5px 0px;
}

header .container .header_1 .h1_right {
    display: flex;
    align-items: center;
}

header .container .header_1 .h1_right li {
    display: flex;
    align-items: center;
}

header .container .header_1 .h1_right li .xoay {
    transform: rotate(90deg);
}

header .container .header_1 .h1_right li h5 {
    cursor: pointer;
    transition: all 0.1s ease-in-out
}

header .container .header_1 .h1_right li h5:hover {
    color: #ccc;
    transition: all 0.1s ease-in-out
}

/* --------Header 1--------- */


/* --------Header 2--------- */
header .container .header_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

header .container .header_2 .h2_left {
    width: 25%;
}

header .container .header_2 .h2_middle {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header .container .header_2 .h2_middle li {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

header .container .header_2 .h2_middle li::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: black;
    left: 0;
    bottom: -10px;
    visibility: hidden;
}

header .container .header_2 .h2_middle li:hover::before {
    visibility: visible;
}

header .container .header_2 .h2_right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

header .container .header_2 .h2_right .h2_right_bg1 {
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.05s linear;
}

header .container .header_2 .h2_right .h2_right_bg1:hover {
    background: #ccc;
    transition: all 0.05s linear;
}

header .container .header_2 .h2_right .h2_search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 200px;
    overflow: hidden;
    background: #e5e5e5;
    transition: all 0.1s linear;
}

header .container .header_2 .h2_right .h2_search .h2_right_bg1 {
    width: 50px;
    transition: all 0.1s linear;
}

header .container .header_2 .h2_right .h2_search .h2_right_bg1 span {
    font-size: 30px;
    transition: all 0.1s linear;
}

header .container .header_2 .h2_right .h2_search .h2_searchbar {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: transparent;
    font-size: 20px;
    background: #e5e5e5;
}

header .container .header_2 .h2_right .h2_search:hover {
    transition: all 0.1s linear;
    background: #ccc;
}

header .container .header_2 .h2_right .h2_search:hover .h2_searchbar,
header .container .header_2 .h2_right .h2_search:hover .h2_right_bg1 {
    transition: all 0.1s linear;
    color: black;
    background: #ccc;
}

/* --------Header 2--------- */

/* ------------------EDIT PAGE--------------------- */
body #setting .container {
    margin-top: 100px;
    margin-left: 100px;
    width: 60%;
}

body #setting .container .edit_title {
    font-size: 26px;
    margin-bottom: 50px;
}

body #setting .container .edit_content {
    display: flex;
    justify-content: space-between;

}

body #setting .container .edit_content .edit_option {
    font-size: 20px;
    width: 50%;
}

body #setting .container .edit_content .edit_option li {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    cursor: pointer;
}

body #setting .container .edit_content .edit_show_content {
    width: 60%;
}

body #setting .container .edit_content .edit_show_content .delete_account button {
    padding: 10px 20px;
    background: transparent;
    color: black;
    border-radius: 50px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.1s linear;

}

body #setting .container .edit_content .edit_show_content .delete_account button:hover {
    transition: all 0.1s linear;
    border: 1px solid black;
}

body #setting .container .edit_content .edit_show_content .edit_savebtn {
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    background: black;
    color: white;

    float: right;
    transition: all 0.1s linear;

}

body #setting .container .edit_content .edit_show_content .edit_savebtn:hover {
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.1s linear;

}

/* --------SETTING MODAL-------- */
#edit_password .edit_password_note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: gray;
    padding-left: 20px;
}